
<div *ngIf="data">
    <h2><span jhiTranslate="dotHomeApp.data.detail.title">Data</span> {{data.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dotHomeApp.data.description">Description</span></dt>
        <dd>
            <span>{{data.description}}</span>
        </dd>
        <dt><span jhiTranslate="dotHomeApp.data.value">Value</span></dt>
        <dd>
            <span>{{data.value}}</span>
        </dd>
        <dt><span jhiTranslate="dotHomeApp.data.createdAt">Created At</span></dt>
        <dd>
            <span>{{data.createdAt | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'data/'+ data.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
